## TV Commercial Detection
Below are the steps to import the source data for pre-processing before modelling in MATLAB.

In [6]:
import pandas as pd
import seaborn as sns
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import string
import re
# https://pypi.org/project/libsvm/
!pip install libsvm
from libsvm.svmutil import *

Requirement already satisfied: libsvm in /Users/totoro/opt/anaconda3/lib/python3.7/site-packages (3.23.0.3)

In [7]:
import pickle
# Function to serialise object
def save_pickle(file_nm, obj):
    pickle_out = open(file_nm, 'wb')
    pickle.dump(obj, pickle_out)
    pickle_out.close()

# Function to load object from pickle file
def load_pickle(file_nm):
    pickle_in = open(file_nm, 'rb')
    obj = pickle.load(pickle_in)
    return obj

### Read in the source file and wrangle into a data frame

In [8]:
src_y, src_x = svm_read_problem('BBC.txt')

In [9]:
src_y_df = pd.DataFrame(src_y)
src_x_df = pd.DataFrame(src_x)
src_df = pd.concat([src_y_df, src_x_df], axis=1)
src_df.tail(10)

,0,1,2,3,4,5,6,7,8,9,...,779,128,689,1119,324,694,88,785,198,487
17710,1.0,25.0,2.261500,1.149089,7.639838,10.709817,0.008558,0.006488,0.074750,0.050990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17711,1.0,38.0,1.178209,0.543506,5.314273,1.886085,0.009857,0.010259,0.088651,0.048706,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17712,1.0,28.0,0.963389,1.327245,18.657602,27.602407,0.015765,0.009704,0.104464,0.083542,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17713,1.0,25.0,2.333455,1.937060,13.175022,5.996551,0.012585,0.007584,0.096125,0.055886,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17714,1.0,25.0,3.525863,1.676093,14.641719,6.890201,0.012671,0.008254,0.099250,0.050228,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17715,1.0,66.0,2.685833,3.018033,13.668181,17.187395,0.014353,0.007819,0.119271,0.060057,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17716,1.0,33.0,1.597726,1.008243,5.417785,2.954453,0.015893,0.007553,0.125758,0.055514,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17717,1.0,25.0,1.465399,0.702240,5.848524,3.574110,0.019303,0.009761,0.100125,0.058169,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17718,1.0,88.0,0.668713,1.235713,4.243607,10.771485,0.018320,0.006595,0.111009,0.043714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17719,1.0,47.0,0.218305,0.197495,1.000669,0.848586,0.019544,0.009338,0.105120,0.057398,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#Set column names - first column as y and rest as x1, x2... xn
col_ls = ['x' + str(col) for col in src_df.columns]
col_ls[0] = 'y'
src_df.columns = col_ls
src_df.to_excel('src_df.xlsx', index=False)